.footer {
   width: 100%;
   background: #f1eeee;
}

.footer .social {
    display: flex;
    justify-content: center;
    padding: 15px; 
}
.footer .social a {
    margin: 0 50px 0 50px;
}

.footer .icon {
    font-size: 2rem;
    margin: 2rem 3rem;
    /* color: #8280b1; */
    color: rgba(54,106,142,1);
}

.contain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding-bottom: 30px;
    margin-left: 100px;
}

.footer .col {
    /* margin: 0 30px; */
    justify-content: center;
    align-items: center;
}
.footer .col h3{
    color: rgba(54,106,142,1);
}



.contain .col > p {
    margin: 0.4rem 0;
    
}
.logo-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.logo-fnai {
    height: 100px;
    width: 100px;
}

.copyright {
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    height: 9rem;
    background: url("../../assets/3042.jpg") no-repeat center center/cover;
    background-position: 0 -190px;
    font-weight: bolder;
}



@media screen and (max-width: 940px) {
    .footer .social {
        margin: 1rem 0;
        padding: 0;
    }
    .footer .social a {
        margin: auto;
    }
    /* .footer .contain {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    } */
     
    .footer .contain {
        padding-bottom: 30px;
        gap:1.2rem;
        flex-direction: column;
        grid-template-columns: auto;
        justify-content: center;
        margin: auto;
    }

    .footer .col {
        margin: 0;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .footer .col > h3 {
        justify-self: center;
    }

  
    
    .copyright {
        flex-direction: column;
        text-align: center;
        background-position: 0 -50px;
        color:rgb(255, 255, 255);
        height: 7rem;
    }
    .copyright .c1 , .c2   {
        font-weight: bolder;
    }

    .contain .h {
        display: grid;
        justify-items: center;
    }
    .contain p {
        display: grid;
        justify-items: center;
        width: 20rem;
    }
}