.footer {
   width: 100%;
   background: #f1eeee;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

.footer .col {
    margin: auto;
}


.footer p {
    margin: 0.4rem 0;
}

.footer .social {
    text-align: center;
}

.footer .icon {
    font-size: 2rem;
    margin: 2rem 3rem;
    color: #8280b1;
}

.copyright {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: #8280b1;
    /* padding: 4rem; */
    height: 100px;
}
.copyright span {
    font-weight: bolder;
}

@media screen and (max-width: 940px) {
    .footer .container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
     
    .footer .social {
        margin: 1rem 0;
        /* display: flex;
        justify-content: center; */
    }
    
    .copyright {
        flex-direction: column;
        text-align: center; 
        
    }
}