.searchItem {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: -7px 10px 23px 5px rgba(0,0,0,0.12); 
    box-shadow: -7px 10px 23px 5px rgba(0,0,0,0.12);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .siImg {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
  
.chambreETsurface {
  font-size: 16px;
}

  .desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex:2;
  }
  
  .titre {
    font-size: 20px;
    color: #2980B9;
  }
  
  .transaction {
    display: flex;
    justify-content: center;
    font-size: 16px;
    background-color: #3498DB;
    color: white;
    width: max-content;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }
  
  .address{
    font-size: 16px;
  }
  .cont-address{
    display: flex;
  }
  .address-icon{
    margin-right: 8px;
    margin-top: 3px;
  }
  .siDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
  }
  
  
  .siDetailTexts{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 110px;
  }
  
  .prix{
    font-size: 24px;
    display: flex;
    align-self: flex-end;
  }
  
  .plus{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    background-color: #2C3E50;
    width: 100px;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }